block config
	-
		var titulo = "Don Santiago"
		var sitio = "PASIÓN POR LA TRADICIÓN"
		var descripcion = ""
		var paginaActual = "home"
		var menuNivel= "0"

		var path_logo_ico= ''
		var path_logo= './assets/images/logo.png'
		var favicon= './assets/images/favicon.png'

		var autor= 'La Agencia - la-agencia.pe'
		var theme_color = '#140B0A'

		var storage= '/assets/storage'

		var header_transparent= true
		var bg_admin= false

		var header= true

		var login= false

		var people_login= 'user'
