//- src/views/components/footer.pug

//- footer.footer.bg-color1
//- 	.container
//- 		.row.align-items-center
//- 			.col-md-4.col-xl-3.xs-center.md-left
//- 				a(href="#") Términos y Condiciones
//- 			.col-md-4.col-xl-6.xs-center.pt-4.pt-md-0
//- 				span
//- 					|	¿Problemas o consultas? Escríbenos a:
//- 					a(href="#")  soporte@caasa.com.pe
//- 			.col-md-4.col-xl-3.pt-4.pt-md-0
//- 				.flex-center-x
//- 					span.pr-2 Una idea de
//- 					a(href="#")
//- 						img.xs-i-block(src="./assets/images/aceros-arequipa-logo.svg", alt="")


